@font-face {
  font-family: 'Gotham Book';
  src:
    url('./fonts/gotham-book.woff2') format('woff2'),
    url('./fonts/gotham-book.woff') format('woff'),
    url('./fonts/gotham-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham Book';
  src:
    url('./fonts/gotham-book-medium.woff2') format('woff2'),
    url('./fonts/gotham-book-medium.woff') format('woff'),
    url('./fonts/gotham-book-medium.ttf') format('truetype');
  weight: 500;
}

@font-face {
  font-family: 'Gotham Book';
  src:
    url('./fonts/gotham-narrow-book.woff2') format('woff2'),
    url('./fonts/gotham-narrow-book.woff') format('woff'),
    url('./fonts/gotham-narrow-book.ttf') format('truetype');
  weight: 300;
}

body {
  font-size: 16px;
  font-family: 'Gotham Book', sans-serif;
}

body, h1 {
  margin: 0;
}

.main {
  display: flex;
}

.hero {
  align-items: center;
  display: flex;
  flex-basis: 61.19%;
  flex-flow: column;
  justify-content: space-around;
  height: 100vh;
}

.hero .logo,
.hero .heart {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100%;
}

.hero .nks-logo {
  background-image: url('./nks.svg');
  height: 20vh;
}

.hero .gcp-logo {
  background-image: url('./gcp.svg');
  height: 35vh;
}

.hero .azure-logo {
  background-image: url('./azure.svg');
  height: 35vh;
}

.hero .heart {
  background-image: url('./heart.svg');
  height: 15vh;
  margin: 1em;
}

.query {
  background-color: #f8f8f8;
  flex-basis: calc(100% - 61.19%);
  font-size: 2em;
  padding: 1em 2em;
}

.query form {
  display: grid;
  grid-gap: 1em 1ex;
  grid-template:
    'input  submit' 1fr
    'output output' 1fr
    / 1fr min-content;
  height: 100%;
}

.query .label {
  font-weight: bolder;
}

.query .label::after {
  content: ':';
}

.query .input-label {
  display: flex;
  flex-direction: column;
}

.query .input-label textarea {
  font-weight: lighter;
  font-family: inherit;
  flex-grow: 1;
}

.query .input {
  grid-area: input;
  font-size: 0.8em;
  width: 100%;
}

.query .submit {
  align-self: end;
  background: none;
  border: none;
  cursor: pointer;
  grid-area: submit;
  font-size: 1em;
  height: 2em;
  outline: none;
  width: 2em;
}

.query .output {
  grid-area: output;
}
